<form>
    <h1>DELETAR LIVRO</h1>

    <mat-form-field class="form">
        <mat-label>Titulo</mat-label>
        <input matInput [(ngModel)]="book.title" type="text" name="title" disabled>
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Autor</mat-label>
        <input matInput  [(ngModel)]="book.author" type="text" name="author" disabled>
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Texto</mat-label>
        <textarea matInput [(ngModel)]="book.text" type="text" name="text" disabled></textarea>
    </mat-form-field>

    <div class="buttons">
        <button (click)="delete()" class="mat-elevation-z8" mat-stroked-button color="primary">DELETAR</button>
        <button (click)="cancel()" class="mat-elevation-z8" mat-stroked-button color="warn">CANCELAR</button>
    </div>

</form>
