<mat-toolbar class="footer">
    <span>
        <a href="https://github.com/TaylanTorres09/bookstore-front" target="_blank">
            <img 
                class="logo"
                src="assets/img/github-logo.png" 
                target="_blank"
            >
        </a>
    </span>
    
    <span>
        <a href="https://www.linkedin.com/in/taylan-torres/" target="_blank">
            <img
                src="https://img.shields.io/badge/-LinkedIn-%230077B5?style=for-the-badge&logo=linkedin&logoColor=white" 
                target="_blank"
            >
        </a>
    </span>

    <span>
        Desenvolvido por Taylan Torres
    </span>

</mat-toolbar>
